@import "reset.css";

body {
    /*text-align: center;*/
    font-size: 130%;
    width: 100%;
    white-space: normal;
}

.wrapper{
    display: grid;
    grid-gap:5px;
    grid-template-columns: 30% 70%;
    grid-template-rows: 300px;
    grid-template-areas:
    "header header"
    "aside section"
    "footer footer";
}
@media(min-width: 1791px){
    .wrapper{
        grid-template-columns: 25% 75%;
    }
}


header{grid-area: header;}
section {grid-area: section;}
aside {grid-area: aside;}
nav {grid-area: nav;}
footer {grid-area: footer;}


header {
    margin-top: 60px;
    margin-bottom: 20px;
    /*gird-area: header;*/
    height: 100px;
    font-size: 100px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
}

main {
    grid-area: main;
}


.main {
    display: grid;
    grid-gap: 10px;
}

a{
    text-decoration-line: none;
}

#introducing{
    text-align: center;
    padding: 20px;
}

.aside_profile {
    text-align-all: center;
    grid-column: 1;
    padding: 10px;
    background-color: #CEE4F3;
    width: 75%;
    text-align: center;
    /*font-size: 130%;*/
    line-height: 180%;
    list-style: none;
}

body a:hover{
    color: orange;
}

#aboutme{
    /*line-height: 150%;*/
    /*font-size: 130%;*/
    /*font-family: 'Noto Serif KR', serif;*/
}

.article_h{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    background-color: #DCF4F5;
    line-height: 130%;
}

.main_container{
    line-height: 150%;
    font-size: 130%;
    font-family: 'Noto Serif KR', serif;
    justify-content: center;
    /*margin: 10px;*/
    /*margin-right: 50px;*/
    padding-right: 30px;
    text-align: center;
    line-height: 150%;
    margin-top: 20px;
}

#info{
    margin-top: 1em;
}

.image {
    width: auto;
    border-radius: 100%;
    background-image: url("https://downloadwap.com/thumbs2/wallpapers/p2/2019/drawings/44/29d36a6313006655.jpg");
    margin-top: 1em;
    padding-top: 100%;
    background-size: cover;
    align-self: auto;
    border: 5em;
    padding-bottom: 10px;
}

.nav{
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    font-size: 38px;
    line-height: 200%;
    position: sticky;
}

.nav li a{
    color: #3d5a80;
}
#iframe {
    border-color: gray;
    /*margine: 10px;*/
}

iframe {
    width: 100%;
    height: 500px;
}

div {
    padding: 10px;
}

table{
    font-size: 15px;
    /*font-family: 'Shadows Into Light', cursive;*/
    text-align: center;
    width: 100%;
    margin-right: 20px;
}
th{
    width: 50px;
}

footer{
    max-width: 100%;
}



.cube {
    width: 300px;
    height: 300px;
    margin-left: 15%;
    margin-top: 15%;
    margin-bottom: 20%;
    transform-style: preserve-3d;
    /*transition: 2s;*/
    animation: ani 5s linear infinite;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@keyframes ani {
    0%{
        transform: rotateY(0deg) rotateX(0deg);
    }
    100%{
        transform: rotateY(1turn) rotateX(1turn);
    }

}
.cube:hover{
    transform: rotateZ(-90deg) rotateX(-60deg) rotateY(50deg);
}
.cube div{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}

.cube .top{
    transform: rotateX(90deg) translateZ(150px);
}
.cube .bottom{
    transform: rotateX(-90deg) translateZ(150px);
}
.cube .left{
    transform: rotateY(-90deg) translateZ(150px);
}
.cube .right{
    transform: rotateY(90deg) translateZ(150px);
}
.cube .back{
    transform: rotateY(180deg) translateZ(150px);
}
.cube img{
    height: 300px;
    width: 300px;
}
.cube .front{
    transform: translateZ(150px);
}
